In [1]:
library('tidyverse')
library('patchwork')
library('nycflights13')
options(repr.plot.width = 8, repr.plot.height = 4, repr.plot.res = 300)

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──

✔ ggplot2 3.2.0     ✔ purrr   0.3.2
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   0.8.3     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Use filter to make a table with just flights weather data from January.

In [2]:
weather %>% 
    head

  origin year month day hour temp  dewp  humid wind_dir wind_speed wind_gust
1 EWR    2013 1     1   1    39.02 26.06 59.37 270      10.35702   NA
2 EWR    2013 1     1   2    39.02 26.96 61.63 250       8.05546   NA
3 EWR    2013 1     1   3    39.02 28.04 64.43 240      11.50780   NA
4 EWR    2013 1     1   4    39.92 28.04 62.21 250      12.65858   NA
5 EWR    2013 1     1   5    39.02 28.04 64.43 260      12.65858   NA
6 EWR    2013 1     1   6    37.94 28.04 67.21 240      11.50780   NA
  precip pressure visib time_hour
1 0      1012.0   10    2013-01-01 01:00:00
2 0      1012.3   10    2013-01-01 02:00:00
3 0      1012.5   10    2013-01-01 03:00:00
4 0      1012.2   10    2013-01-01 04:00:00
5 0      1011.9   10    2013-01-01 05:00:00
6 0      1012.4   10    2013-01-01 06:00:00

In [6]:
january=weather %>% 
    filter(month == 1)

Do the same for June.

In [7]:
june=weather %>% 
    filter(month == 6)

Use `filter` and `summarize` to produce two single row tables. One that has the median `temp` for January, and one that has the median `temp` for June.

In [17]:
# E.g.

median.january  = weather %>% 
     group_by(month) %>%
     filter(month == 1) %>% 
     summarize(median.temp = median(temp))
median.january

  month median.temp
1 1     37.04

In [18]:
median.june  = weather %>% 
     group_by(month) %>%
     filter(month == 6) %>% 
     summarize(median.temp = median(temp))
median.june

  month median.temp
1 6     71.96

Re-create the following figure.

<img src="./example.png" style="width: 800px;" />

- Use `geom_hline` for the median line.
- Use `scale_color_viridis_c` to set the color scale.
- This chart can be made by facetting or each plot can be created by itself and combined with `patchwork`. For this example use `patchwork`.
- Use `ylim` to make the y-axis for each plot the same.

In [ ]:
# see the lecture example.